.container-short
  // max-width: 300px
.container-long
  // width: 880px

.aside__left
  margin-left: auto
.aside__right
  margin-right: auto

.container-long
  display: flex
  // grid-template-columns: repeat(3, 1fr)
  // gap: 20px

