.carts
  padding: 2.5rem 0
  font-family: $f-hel-r

.carts__main
  @include grid(null, space-between, null, repeat(4,1fr) , 1.25rem)
  position: relative



.carts__item
  max-width: 300px
  padding-bottom: 2.1875rem
  position: relative
  @include media(1190px)
    margin: 0 auto
  &:hover
    *
      color: $color-green
  &:hover  .carts__logo
    box-shadow: inset 0 0 0 5px $color-green
  &::before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    transition:.4s
  &:hover::before
    box-shadow: inset 0 0 0 10px $color-green
    color: $color-green
  &:hover .carts__image::after
    opacity: 0
  &:hover .carts__content
    border: none
    transition: border 0s
    margin-left: 1px

.carts__image
  overflow: hidden
  height: 10.9375rem
  transition: 0.4s
  img
    height: 100%
    width: 100%
    object-fit: cover
  &::after
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute
    background: #fff
    opacity: 0.23

    
.carts__content
  padding: 2.5rem 1.875rem .5rem
  border-left: 1px #DBE1E7 solid
  position: relative
  // &:hover
  //   border: none
.carts__logo
  position: absolute
  top: -45px
  left: 98px
  width: 80px
  height: 80px
  border-radius: 100px
  padding: 4px
  transition: .4s
  box-shadow: inset 0 0 0px 5px #F3F3F3
  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 100px
    // box-shadow: 0 0 1px 4px #F3F3F3
  &:hover
    box-shadow: inset 0 0 0 5px $color-green
.carts__title
  font-size: $s-21
  color: #737c85
  line-height: 1.6875rem
  margin-bottom: 1.125rem
.carts__info
  font-size: $s-14
  line-height: 1.5rem




.carts-l, .carts-r
  position: absolute
  font-size: 30px
.carts-l
  left: 40%
  bottom: -7px
  @include media(550px)
    left: 30%
  @include media(480px)
    left: 15%
.carts-r
  right: 40%
  bottom: -7px
  @include media(550px)
    right: 30%
  @include media(480px)
    right: 15%
.carts
  .owl-dots
    margin: 0 auto !important
    display: flex
    justify-content: center
    // position: absolute
    // left: 48%
    // right: 48%
  .owl-dot
    width: 18px
    height: 18px
    border-radius: 40px
    border: 4px solid #F3F3F3 !important
    margin-right: 3px
    &:last-child
      margin-right: 0
  .owl-dot.active
    border: 4px solid #fff !important
    background: #929DA5 !important
