.mackbook
  padding: 120px 0
  background: #242A2C
  text-align: center
  .owl-prev, .owl-next
    font-size: 54px !important
    padding: 0 30px !important



.mackbook__image
  padding: 0 1rem
  margin: 0 auto
  max-width: 750px
  img
    width: 100%

//carousel
